name: CI/CD

on: push

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: [ '14' ]
    steps:
    - uses: actions/checkout@v2.3.5

    - name: Setup node ${{ matrix.node }}
      uses: actions/setup-node@v2.4.1
      with:
        node-version: ${{ matrix.node }}
    - run: yarn install
    - run: yarn test

    - name: Tag
      id: autotagger
      if: github.ref == 'refs/heads/master'
      uses: butlerlogic/action-autotag@stable
      with:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        tag_prefix: v

    - name: Release
      id: create_release
      if: steps.autotagger.outputs.tagname != ''
      uses: actions/create-release@v1.1.4
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: ${{ steps.autotagger.outputs.tagname }}
        release_name: ${{ steps.autotagger.outputs.tagname }}
        body: ${{ steps.autotagger.outputs.tagmessage }}
        draft: false
        prerelease: env.IS_PRERELEASE != ''

    - name: Publish
      id: publish
      if: steps.autotagger.outputs.tagname != ''
      uses: author/action-publish@stable
      env:
        REGISTRY_TOKEN: ${{ secrets.NPM_TOKEN }}
